/*
Copyright (c) 2009, Filippo Baruffaldi
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
*/
@font-face{font-family:Champignon;src:url('../fonts/Champignon.ttf');}
@font-face{font-family:Antipasto;src:url('../fonts/Antipasto.ttf');}
@font-face{font-family:visitor;src:url('../fonts/visitor1.ttf');}
@font-face{font-family:visitor2;src:url('../fonts/visitor2.ttf');}
@font-face{font-family:kingthings;src:url('../fonts/kingthings.ttf');}
@font-face{font-family:wildscript;src:url('../fonts/wildscript.ttf');}