h1 {
	font-size: 15px;
	font-family:wildscript,arial,sans-serif;
}

dl {
	margin-top: 3px;
}

.rotate {
	-webkit-transform: rotate(360deg);
	-webkit-transition: all 2s ease-out;
}

.stop_rotate {
	-webkit-transform: none;
}

.rotateloop {
	-webkit-transform: rotate(360deg);
	-webkit-transition: all 0s ease-out;
}

.menu_entry_active {
	font-family: visitor2, arial, sans-serif;
	border-top: 1px solid #e0e0e0;
	color: #777;
	font-size: 18px;
	text-shadow: #333 0px 1px 1px;
	background-color: #eee;
	background-image: url('../images/others/arrow_on.png');
	background-repeat: no-repeat;
	background-position: 96% 50%;
	clear:right;
	vertical-align: middle;
}

.menu_entry {
	border-top: 1px solid #e0e0e0;
	color: #ccc;
	font-size: 15px;
	text-shadow: #aaa 0px 1px 1px;
	background-image: url('../images/others/arrow_off.png');
	background-repeat: no-repeat;
	background-position: 97% 50%;
	clear:right;
	vertical-align: middle;
}

.menu_entry_active {
	font-family: visitor2, arial, sans-serif;
	border-top: 1px solid #e0e0e0;
	color: #777;
	font-size: 18px;
	text-shadow: #333 0px 1px 1px;
	background-color: #eee;
	background-image: url('../images/others/arrow_on.png');
	background-repeat: no-repeat;
	background-position: 96% 50%;
	clear:right;
	vertical-align: middle;
}

.popup_sub_list dd:hover {
	background-color: rgb(241, 250, 250);
}

.popup_sub_list dd {
	border: 1px solid #fff;
	border-radius: 2em 1em 4em / 0.5em 3em;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
}

.active_filter {
	background-color: rgb(241, 250, 250);
	border: 0px solid #fff;
	border-radius: 2em 1em 4em / 0.5em 3em;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
}

.menu_entry:hover {
	color: #777;
	text-shadow: #333 0px 1px 2px;
	background-color: rgb(231, 230, 250); 
}

.popup_list  h2 {
	font-family: Antipasto, arial, sans-serif;
	width: 230px;
	min-width: 230px;
	word-spacing: 2px;
}

h2:last {
	border-bottom: 1px solid #e0e0e0;
}

.popup_list a span {
	font-family: visitor, arial, sans-serif;
	letter-spacing: 1px;
	word-spacing: 1px;
	font-size:9px;
}

.popup_list a {
	display: block;
}

img {
	padding:0 3px;
	vertical-align: middle;
}

#options {
	color: #ccc;
	font-family: kingthings, arial, sans-serif;
}

* {
	overflow: hidden;
	letter-spacing: 1px;
	word-spacing: 3px;
}