html, body {
	min-width:230px;
	overflow-x:hidden;
	line-height: 1;
	font-family:arial,sans-serif;
	font-size: 12px;
	color: #707070;
	padding: 5px;
	filter:alpha(opacity=0.9);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	margin: 0px;
}

hr {
	height: 1px;
	border: none;
	border-top: 1px solid #e0e0e0;
	margin-top: 0px;
	margin-bottom: 0px;
}

a, a:hover, a:visited, a:active {
	text-decoration: none;
	color: #707070;
}

a:hover {
	text-shadow: #333333 0px 1px 1px;
	color: #303030;
}

h1 {
	font-family:arial,sans-serif;
	color: #000000;
	font-size: 18px;
	margin-bottom: 10px;
	text-shadow: #333333 0px 1px 1px;
}

h2 {
	font-family:arial,sans-serif;
	font-size: 12px;
	text-shadow: #ffffff 0px 1px 1px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.popup_list dd img {
	margin: 0px 3px 0px 3px;
	vertical-align: middle;
}

.popup_list dd {
	margin: 2px 5px 2px 5px;
	vertical-align: middle;
}

textarea {
	padding: 5px 5px 5px 5px;
}

img, h1 {
	vertical-align: middle;
}

#close_popup {
	float: right;
	//-moz-box-shadow: 2px 2px 4px #cccccc;
	//-webkit-box-shadow: 2px 2px 4px #cccccc;
	//box-shadow: 2px 2px 4px #cccccc;
}

#close_popup:hover {
	-webkit-transform: rotate(360deg);
	-webkit-transition: all 2s ease-out;
}

#optionsBox {
    margin: 0;
    padding: 30px;
    margin: 0 auto;
    width: 500px;
    text-align: center;
	color: #333;
	-moz-box-shadow: 4px 1px 20px #fff;
	-webkit-box-shadow: 4px 1px 20px #fff;
	box-shadow: 4px 1px 20px #fff;
	filter:alpha(opacity=0.9);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	background: rgb(175, 208, 245);
	border: rgb(23, 102, 234) solid #ccc;
	border-radius: 2em 1em 4em / 0.5em 3em;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
}

#optionsResultBox {
	position: fixed;
	top: 0px;
    left: 45%;
    padding: 5px 10px;
    width: 500px;
	color: rgb(23, 102, 234);
	font-size: 20px;
	text-align: center;
}

#optionsBox select {
	width: 100%;
}

#save {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
	font-style: italic;
}

#cp_window
{
    margin: 0px;
    border: none 0px;
    font-family: Verdana,Arial,sans-serif;    
    font-size: 12px;    
    z-index: 10;
}
    
#cp_window .edit
{
    border-width: 1px;
    padding: 1px;
    margin-left: 1px;
    font-family: Verdana,Arial,sans-serif;        
    font-size: 12px;
}
    
#cp_window .button
{
    border-width: 1px;
    padding: 2px;
    margin: 0px;
    font-family: Verdana,Arial,sans-serif;        
    font-size: 12px;
}
    
#cp_window td
{
    border: none;	
    padding: 4px;
    margin: 0px;
    background-color: #eee;
    vertical-align: top;	
}

#cp_window .cp_label
{
    font-family: Verdana,Arial,sans-serif;    
    font-size: 12px;
    color: #444;
}
    
#cp_window .tinylabel
{
    font-family: Verdana,Arial,sans-serif;    
    font-size: 9px;
    font-weight: normal;
    color: #666;
}
    
#cp_table
{
    border: outset 1px #000;
    background-color: #eee;
    padding: 2px 4px 4px 4px;
}
        
#cp_title
{
    border: inset 1px #000;    
    padding: 1px;    
    background-color: #ccc;
    color: #fff;    
    font-family: Verdana,Arial,sans-serif;        
    font-size: 12px;
    font-weight: bold;
    text-align:center;
}

#cp_cube
{
    border: inset 1px #000;
    margin: 0px;
}

#cp_gradient
{
    border: inset 1px #000;
    padding: 0px;
    margin: 0px;
    width: 28px;
}
    
#cp_palette div
{
    margin: 0px;
    border: inset 1px #eee;
}
    
#cp_palette td
{
    padding: 0px;
    margin: 0px;
    border: none 0px;
}

#cp_animbox
{
    position: absolute;
    margin: 0px;
    border: inset 1px #eee;
    visibility: hidden;
}    
    
#cp_colorbox
{
    border: inset 1px #000;
    margin: 0px;
    height: 18px;
    width: 128px;
    float: left;
}
        
.cp_color_field_box
{
    text-decoration: none;
    font-size: 12px;
    border: solid 1px #000;
}
