blockquote, body, div, fieldset, form, h1, h2, h3, h4, h5, h6, html, input, li, ol, p, pre, table, td, th, ul
{
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, h4, h5, h6, li, ol, p, ul
{
    font-size: 1em;
    line-height: 1.0;
}

em
{
    font-style: normal;
}

ol, ul
{
    list-style: none;
}

strong, th
{
    font-weight: normal;
}