*:before{border-style:solid !important;border-width:1px !important;font-family:sans-serif !important;font-size:10px !important;font-style:normal !important;font-variant:normal !important;font-weight:normal !important;letter-spacing:0 !important;margin:0 1px 0 0 !important;padding:1px !important;text-align:left !important;text-decoration:none !important;text-transform:none !important;z-index:1 !important}
*[class^=webdeveloper-] *:before, *[class^=webdeveloper-]:before, *[id^=webdeveloper-] *:before, *[id^=webdeveloper-]:before{display:none !important}
applet:before{content: "<applet>" !important}
basefont:before{content: "<basefont>" !important}
center:before{content: "<center>" !important}
dir:before{content: "<dir>" !important}
font:before{content: "<font>" !important}
isindex:before{content: "<isindex>" !important}
menu:before{content: "<menu>" !important}
s:before{content: "<s>" !important}
strike:before{content: "<strike>" !important}
u:before{content: "<u>" !important}
applet, basefont, center, dir, font, isindex, menu, s, strike, u{outline: 1px solid #ff0000 !important;}