h1{outline:1px solid #f00 !important}
h2{outline:1px solid #0f0 !important}
h3{outline:1px solid #00f !important}
h4{outline:1px solid #609 !important}
h5{outline:1px solid #f90 !important}
h6{outline:1px solid #666 !important}
*:before{border-style:solid !important;border-width:1px !important;font-family:sans-serif !important;font-size:10px !important;font-style:normal !important;font-variant:normal !important;font-weight:normal !important;letter-spacing:0 !important;margin:0 1px 0 0 !important;padding:1px !important;text-align:left !important;text-decoration:none !important;text-transform:none !important;z-index:1 !important}
*[class^=webdeveloper-] *:before, *[class^=webdeveloper-]:before, *[id^=webdeveloper-] *:before, *[id^=webdeveloper-]:before{display:none !important}
h1:before{content:"<h1>"!important}
h2:before{content:"<h2>"!important}
h3:before{content:"<h3>"!important}
h4:before{content:"<h4>"!important}
h5:before{content:"<h5>"!important}
h6:before{content:"<h6>"!important}