td{outline:1px solid orange !important}
th{outline:1px solid yellow !important}
tr{outline:1px solid lightyellow !important}
table{border-collapse:separate !important}
td,th{border:1px solid#ff0000 !important}
table table td,table table th{border-color:#00ff00 !important}
table table table td, table table table th{border-color:#0000ff !important}
table table table table td, table table table table th{border-color:#ff0000 !important}
table table table table table td, table table table table table th{border-color:#00ff00 !important}
table table table table table table td, table table table table table table th{border-color:#0000ff !important}
*:before{border-style:solid !important;border-width:1px !important;font-family:sans-serif !important;font-size:10px !important;font-style:normal !important;font-variant:normal !important;font-weight:normal !important;letter-spacing:0 !important;margin:0 1px 0 0 !important;padding:1px !important;text-align:left !important;text-decoration:none !important;text-transform:none !important;z-index:1 !important}
*[class^=webdeveloper-] *:before, *[class^=webdeveloper-]:before, *[id^=webdeveloper-] *:before, *[id^=webdeveloper-]:before{display:none !important}
td:before{content: "<td>" !important}
th:before{content: "<th>" !important}