*
{
    background-color: #000000 !important;
    background-image: none !important;
    border-color: #000000 !important;
    color: #ffffff !important;
}

* > *
{
    background-color: #111111 !important;
    border-color: #111111 !important;
}

* > * > *
{
    background-color: #222222 !important;
    border-color: #222222 !important;
}

* > * > * > *
{
    background-color: #333333 !important;
    border-color: #333333 !important;
}

* > * > * > * > *
{
    background-color: #444444 !important;
    border-color: #444444 !important;
}

* > * > * > * > * > *
{
    background-color: #555555 !important;
    border-color: #555555 !important;
}

* > * > * > * > * > * > *
{
    background-color: #666666 !important;
    border-color: #666666 !important;
}

* > * > * > * > * > * > * > *
{
    background-color: #777777 !important;
    border-color: #777777 !important;
}

* > * > * > * > * > * > * > * > *
{
    background-color: #888888 !important;
    border-color: #888888 !important;
}

* > * > * > * > * > * > * > * > * > *
{
    background-color: #999999 !important;
    border-color: #999999 !important;
}

* > * > * > * > * > * > * > * > * > * > *
{
    background-color: #aaaaaa !important;
    border-color: #aaaaaa !important;
    color: #000000 !important;
}

* > * > * > * > * > * > * > * > * > * > * > *
{
    background-color: #bbbbbb !important;
    border-color: #bbbbbb !important;
    color: #000000 !important;
}

* > * > * > * > * > * > * > * > * > * > * > * > *
{
    background-color: #cccccc !important;
    border-color: #cccccc !important;
    color: #000000 !important;
}

* > * > * > * > * > * > * > * > * > * > * > * > * > *
{
    background-color: #dddddd !important;
    border-color: #dddddd !important;
    color: #000000 !important;
}

* > * > * > * > * > * > * > * > * > * > * > * > * > * > *
{
    background-color: #eeeeee !important;
    border-color: #eeeeee !important;
    color: #000000 !important;
}

* > * > * > * > * > * > * > * > * > * > * > * > * > * > * > *
{
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    color: #000000 !important;
}

* > * > * > * > * > * > * > * > * > * > * > * > * > * > * > * > *
{
    background-color: #ff00ff !important;
    border-color: #ff00ff !important;
    color: #000000 !important;
}