*
{
    background-image: none !important;
    float: none !important;
    font-size: 10px !important;
	font-variant: normal !important;
    height: auto !important;
    left: auto !important;
	letter-spacing: 0 !important;
    margin-bottom: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: auto !important;
    max-width: 250px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: static !important;
	text-transform: none !important;
    top: auto !important;
    word-spacing: 0 !important;
}

*:not(body):not(html):not(li):not(ol):not(ul)
{
    overflow: hidden !important;
}

*:not(img)
{
    width: auto !important;
}

*:not(input):not(select):not(textarea)
{
    border-style: none !important;
}

a
{
    text-decoration: underline !important;
}

body
{
    background-color: #ffffff !important;
    padding: 5px !important;
    width: 250px !important;
}

body, html
{
    margin: 0 !important;
}

h1, h2
{
    font-size: 12px !important;
}

html
{
    background-color: #666666 !important;
    padding: 0 !important;
}

li
{
    display: list-item !important;
}

ol, table, tbody, td, tfoot, th, thead, tr, ul
{
    display: block !important;
}

ol, ul
{
    padding-left: 15px !important;
}

ul
{
    list-style-type: square !important;
}